
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------------------------------*/


header {
    background-color: #fff;
    height: 100px;
    text-align: center;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
}

header h1 {
    padding-top: 30px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightgray;
    align-items: center;
}

.add-btn{
    width: 120px;
    height: 40px;
    font-size: 1.2rem;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    margin: 50px;
    cursor: pointer;
    color: #fff;
}

/*----------------------------------------------------------------------------*/

.book {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.book p {
    padding: 10px 10px 0 15px;
}

.read-btn {
    background-color: lightgreen;
    opacity: 70%;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 15px;
    font-weight: bold;
    cursor: pointer;    
}

.read-btn:hover {
    opacity: 100%;
}


/*----------------------------------------------------------------------------*/

.popup {
    position: fixed;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 75px;
    display: none;
}

.form {
    display: flex;
    align-items: center;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
}

.form input {
    width: 300px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: lightgray;
}

.submit-btn {
    padding: 10px 0;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    width: 200px;
    cursor: pointer;
}